.navbar {
    background-color: #f4f1e1;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    color: #6a4e23; 
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #6a4e23;
    font-size: 1.1em;
    padding: 8px 15px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #d9b38c;
}

.navbar .btn {
    font-size: 1em;
    padding: 8px 15px;
    border-radius: 5px;
}

.navbar .btn-outline-dark {
    color: #6a4e23;
    border-color: #6a4e23;
}

.navbar .btn-outline-dark:hover {
    background-color: #6a4e23;
    color: #fff;
}
